html {
	background: #2b2b40;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

a {
	color: #0073bb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	font-weight: 300;
	font-size: 1.5em;
	margin: 20px 0 10px 0;
}

p, address {
	color: #555;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}

li {
	color: #555;
}
